# CD: Manipula√ß√£o

# Introdu√ß√£o {.unumbered}

<!--Motiva√ß√£o da aula-->

<!--TOC dos temas da aula (pra ajudar os alunos a se acharem na aula)-->

<!--Texto (enxuto, objetivo) com os objetivos de aprendizagem principais (o que, principalmente, os alunos tem que sair dessa aula sabendo)-->

<!--Ao longo da aula: adicionar mais refer√™ncias, especialmente sobre onde expandir os conhecimentos sobre cada tema-->

<!-- comentar sobre como agora, vamos aplicar o modo de pensar da aula passada, de saber os "tipos de opera√ß√µes existentes", e desenvolver a habilidade de olhar pra um dataset, e saber quais opera√ß√µes aplicar -->

Esta aula marca uma divis√£o no curso de trainee. At√© agora, voc√™s estavam aprendendo v√°rias ferramentas √∫teis, mas sem um objetivo espec√≠fico al√©m de simplesmente aprender a programar em Python. Nesta aula, vamos apresentar o objetivo, voc√™s ir√£o aprender a realizar "projetos de Ci√™ncia de Dados".

## Ci√™ncia de Dados

### A Ci√™ncia de Dados

A Ci√™ncia de Dados √© um campo gigante, que nasceu via uma demanda de expandir a estat√≠stica para vias de "learn from data", "more emphasis on data preparation and presentation rather than statistical modeling", e "emphasis on prediction rather than inference". Atualmente, o termo n√£o √© super bem definido, e o campo tem muita intersec√ß√£o com outras disciplinas.

De acordo com a Wikipedia:

> Data science is an interdisciplinary academic field that uses statistics, scientific computing, scientific methods, processes, algorithms and systems to extract or extrapolate knowledge and insights from data.

Fontes: ["50 Years of Data Science" (2017)](https://www.tandfonline.com/doi/full/10.1080/10618600.2017.1384734) e [Wikipedia](https://en.wikipedia.org/wiki/Data_science).

### As etapas de um projeto

Mais interessante que ficar tentando definir a disciplina, vamos entend√™-la na pr√°tica. Como a aula √© minha, e eu fa√ßo o que eu quiser, vou utilizar a explica√ß√£o do livro ["R for Data Science"](https://r4ds.had.co.nz/index.html).

Um projeto comum, no geral, se parece como abaixo. Veja uma breve explica√ß√£o de cada t√≥pico.

<img src="https://d33wubrfki0l68.cloudfront.net/571b056757d68e6df81a3e3853f54d3c76ad6efc/32d37/diagrams/data-science.png" height="200">

#### Importing

A primeira etapa √© a importa√ß√£o. Alguns coment√°rios:

- Os dados podem vir de v√°rias fontes, como arquivos locais, bancos de dados, APIs (application programming interface), ou de sites (via web scrapping).
- Os dados podem estar em v√°rios formatos como CSV, Excel, JSON, entre outros. √â interessante ter um conhecimento b√°sico de como cada um funciona.
- Cada tipo de fonte tem uma maneira diferente de se interagir, e cada formato exige sua pr√≥pria fun√ß√£o. Para os casos mais simples, o pandas (e qualquer outra biblioteca de dataframes), tem fun√ß√µes para I/O.

N√£o vamos entrar em detalhes nesse tema. N√£o √© algo super extenso nem complexo, e existem muitas refer√™ncias online. Uma das mais completas que achei foi [esse tutorial da RealPython](https://realpython.com/pandas-read-write-files/).

#### Tidy

A pr√≥xima etapa √© arrumar, _tidy_, os dados. Vamos falar sobre isso com mais detalhe, mas existe uma no√ß√£o bem espec√≠fica do que s√£o dados arrumados, _tidy data_.

As tr√™s pr√≥ximas etapas existem dentro de um ciclo.

#### Transform

Mesmo com dados j√° arrumados, ainda temos o interesse de transform√°-los, para conseguir obter insights novos da mesma base de dados. Na aula de hoje, vamos dar alguns exemplos de interesses, e este tema ficar√° mais claro.

Visualizar e modelar os dados trar√° novos insights e novas demandas, de modo que estamos constantemente transformando os dados para criar novas visualiza√ß√µes e modelagens.

_Tidy_ e _transform_ juntos s√£o chamados de _data wrangling_.

#### Visualize

Aqui, serei pregui√ßoso, o texto do Hadley Wickham √© muito bom:

> Visualisation is a fundamentally human activity. A good visualisation will show you things that you did not expect, or raise new questions about the data. A good visualisation might also hint that you‚Äôre asking the wrong question, or you need to collect different data. Visualisations can surprise you, but don‚Äôt scale particularly well because they require a human to interpret them.

#### Model

Um modelo √©, em termos simplificados e a depender do contexto, um conjunto de hip√≥teses sobre o mundo -- sobre o processo gerador dos dados --, acrescido com um m√©todo matem√°tico e computacional de estimar esse processo.

> Models are a fundamentally mathematical or computational tool, so they generally scale well. (...) But every model makes assumptions, and by its very nature a model cannot question its own assumptions. That means a model cannot fundamentally surprise you.

#### Comunication

O √∫ltimo passo √© comunica√ß√£o. As linguagens de programa√ß√£o prov√©m ferramentas para expor seus resultados. O pr√≥prio Jupyter Notebook onde esta aula foi escrita √© um exemplo disso. Mas existem muitas outras ferramentas mais avan√ßadas para criar reports, livros, p√°ginas na web, aplicativos, etc. No curso de trainee, n√£o iremos cobrir essa etapa com detalhe.

Por fim, dos √∫ltimos coment√°rios. Primeiro, e a programa√ß√£o?

> Surrounding all these tools is programming. Programming is a cross-cutting tool that you use in every part of the project. You don‚Äôt need to be an expert programmer to be a data scientist, but learning more about programming pays off because becoming a better programmer allows you to automate common tasks, and solve new problems with greater ease.

E o que falta?

No curso do trainee iremos explicar todas as etapas (fora comunica√ß√£o), mas √© s√≥ isso que voc√™ precisar√°? N√£o, cada projeto exige seu conhecimento espec√≠fico, em cada tema, cada disciplina, existem conceitos pr√≥prios que entrar√£o em alguma das etapas aqui descritas. Mas tudo bem, o importante √© voc√™s saberem a base, e conseguir√£o ir atr√°s do adicional por conta pr√≥pria.

O caminho √© o seguinte:

- Na aula de hoje, aprenderemos as etapas de tidy e transform.
- Na aula 5, aprenderemos a etapa visualize.
- Na aula 6, aprenderemos a etapa model.
- Por fim, na aula 7, juntaremos tudo, aprendendo como fazer um projeto completo. Adicionalmente, aprenderemos como organizar um script para tal.

### Data Wrangle e Tidy Data

#### Tidy data

Dados podem ser representados de v√°rias maneiras, veja os exemplos abaixo. Nenhuma delas √© necessariamente melhor que as outras, s√£o organiza√ß√µes diferentes.

<img src="https://imgur.com/XA7JWwS.png" height="400">

<img src="https://imgur.com/nN0ouP9.png" height="400">

<!-- ver como explicar isso de forma intuitica -->

Para ci√™ncia de dados, ser√° √∫til utilizar uma organiza√ß√£o espec√≠fica, chamada de "tidy dataset". Tr√™s regras a definem:

- Cada vari√°vel deve ter sua pr√≥pria coluna.
- Cada observa√ß√£o deve ter sua pr√≥pria linha.
- Cada valor deve ter sua pr√≥pria c√©lula.

<img src="https://d33wubrfki0l68.cloudfront.net/6f1ddb544fc5c69a2478e444ab8112fb0eea23f8/91adc/images/tidy-1.png" height="200">

Quais s√£o os benef√≠cios de organizar dados assim?

- A consist√™ncia de utilizar uma mesma organiza√ß√£o, independente de qual, √© muito √∫til, especialmente porque facilita entender as ferramentas que trabalhar√£o com ela.
- A arruma√ß√£o tidy √© intuitiva, e √© utilizada de maneira muito natural nas ferramentas, muitaz vezes vetorizadas, de visualiza√ß√£o e modelagem.

#### Arrumando datasets

Agora que j√° entendemos o que √© tidy data, podemos adquirir a habilidade de olhar para um dataset e, sabendo onde queremos chegar, elencar quais s√£o as altera√ß√µes a serem feitas -- "remover esta linha", "dividir essa coluna no meio".

Ap√≥s elencar quais altera√ß√µes devem ser feitas, √© simples fazer a ponte de quais _manipula√ß√µes de dados voc√™ quer fazer_ -- "subset linhas" e "separar colunas".

Por fim, s√≥ falta relembrar como √© o c√≥digo que aplica essa manipula√ß√£o. Essa √© a parte mais simples! √â s√≥ voltar na aula passada, pesquisar na internet, _ver no chat_, ou perguntar para o seu amigo preferido!

Tendo as duas primeiras habilidades, voc√™ tem tudo o que precisa para pesquisar, e n√£o h√° problema nenhum em ter que pesquisar, o problema √© ter que pesquisar , e n√£o saber como!. Agora, se voc√™ s√≥ sabe a terceira, voc√™ n√£o precisa pesquisar, mas _n√£o sabe o que voc√™ n√£o precisa pesquisar_, o que n√£o √© especialmente √∫til.

Se voc√™ quiser ficar insano no pandas, rever a aula passada tr√™s vezes por dia, deitado numa banheira congelada, ser√° √≥timo, voc√™ ficar√° efici√™nte muito r√°pidamente. Mas n√£o precisa, essa efici√™ncia vem com o tempo, e o mais importante √© saber a l√≥gica de  "o que precisa alterar" e "quais s√£o as manipula√ß√µes que existem".

<!-- colocar um slide com a defini√ß√£o datataframe e a defini√ß√£o de dataframe tidy -->
<!-- colocar slide com as "caixinhas"/tipos de opera√ß√µes que existem, a la aula 3 -->

Ok, sem mais delongas, vamos aprender a elencar altera√ß√µes, vamos ver uns exemplos [vide o PPT](assets\materials\manipulacao.pptx).

Qual foi a receitinha de bolo que aprendemos? (hmm bolo üòã). Recebemos um dataset, e:

- Arrumar os dados para o formato data frame.
    - Todas as colunas s√£o homog√™neas?
        - Remover linhas "ruins", converter valores.
    - Todas as colunas s√£o do mesmo tamanho?
        - Remover linhas "ruins".
- Arrumar os dados para o formato tidy.
    - Toda coluna √© uma vari√°vel?
        - Remover colunas "ruins".
        - Separar/unir colunas colunas.
    - Toda linha √© uma observa√ß√£o?
        - Quais s√£o as vari√°veis que definem uma observa√ß√£o?
        - Pivot e melt.
    - Toda c√©lula √© um valor?
        - Transformar dados "ruins" em NA.
        - Lidar com dados NA.
- Tenho mais de um dataset? Deix√°-los tidy e ent√£o realizaram algum merge.

### Transform

<!-- d√° pra colocar exemplos sobre essas coisas -->

Ap√≥s arrumarmos um dataset, ainda aplicaremos transforma√ß√µes com base nas demandas da fase de visualiza√ß√£o e modelagem.

- Manipular linhas.
    - Sorting.
    - Sampling.
    - Filtrar observa√ß√µes.
- Transformar/criar colunas:
    - Alterar a unidade de uma vari√°vel.
    - Normalizar vari√°veis.
    - Agrupar as categorias de uma vari√°vel categ√≥rica.
    - Corrigir/formatar texto de vari√°veis string.
    - Manipular datas.
    - Criar novas colunas a partir de opera√ß√µes com m√∫ltiplas outras Exemplos: sal√°rio semanal * semanas trabalhadas; idade ao quadrado.
    - Criar uma coluna para ajudar em um plot.

Todas essas opera√ß√µes s√£o fact√≠veis de serem feitas com base na aula passada de pandas. Voc√™s ver√£o muitos exemplos dessa etapa na aula 6.

<!--Escolha uma frase remetendo pausa e tire print de alguma arte dela em https://patorjk.com/software/taag/. Exemplo:-->

<hr>

![üòé](assets/pause/georgia11.png)

<hr>

## Data Wrangle com Pandas

<!-- Adicionar uns exemplos de data wrangle, especialmente usando as opera√ß√µes que n√£o foram ensinadas na aula passada (reshape, separate/unite, e combine/merge) -->

<!-- 
# Alguns exemplos:

tables_links = {
    'df1': 'https://raw.githubusercontent.com/tidyverse/tidyr/c6c126a61f67a10b5ab9ce6bb1d9dbbb7a380bbd/data-raw/table1.csv',
    'df2': 'https://raw.githubusercontent.com/tidyverse/tidyr/c6c126a61f67a10b5ab9ce6bb1d9dbbb7a380bbd/data-raw/table2.csv',
    'df3': 'https://raw.githubusercontent.com/tidyverse/tidyr/c6c126a61f67a10b5ab9ce6bb1d9dbbb7a380bbd/data-raw/table3.csv',
    'df4a': 'https://raw.githubusercontent.com/tidyverse/tidyr/c6c126a61f67a10b5ab9ce6bb1d9dbbb7a380bbd/data-raw/table4a.csv',
    'df4b': 'https://raw.githubusercontent.com/tidyverse/tidyr/c6c126a61f67a10b5ab9ce6bb1d9dbbb7a380bbd/data-raw/table4b.csv',
    'df5': 'https://raw.githubusercontent.com/tidyverse/tidyr/c6c126a61f67a10b5ab9ce6bb1d9dbbb7a380bbd/data-raw/table6.csv'
}

for i in tables_links.keys():
    globals()[i] = pd.read_csv(tables_links[i])
 -->

In [ ]:
import pandas as pd

# Carregar os dados
df = pd.read_csv("C:\\Users\\Usuario\\Downloads\\car.csv")
display(df["Unnamed: 0"])
display(df.head())

display(df.info())

0          0
1          1
2          2
3          3
4          4
        ...
6014    6014
6015    6015
6016    6016
6017    6017
6018    6018
Name: Unnamed: 0, Length: 6019, dtype: int64

,Unnamed: 0,Name,Location,Year,Distance_Driven,Fuel Type,Transmission,Owner Mileage,Engine,Power,Seats,Trunk,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000km,CNG,Manual,First -- 26.6 km/kg,998 CC,58.16 bhp,5.0,No,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000km,Diesel,Manual,First -- 19.67 kmpl,1582 CC,126.2 bhp,5.0,Yes,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000km,Petrol,Manual,First -- 18.2 kmpl,1199 CC,88.7 bhp,5.0,No,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87m,Diesel,Manual,First -- 20.77 kmpl,1248 CC,88.76 bhp,7.0,No,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670km,Diesel,Automatic,Second -- 15.2 kmpl,1968 CC,140.8 bhp,5.0,Yes,NaN,17.74

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       6019 non-null   int64
 1   Name             6019 non-null   object
 2   Location         6019 non-null   object
 3   Year             6019 non-null   int64
 4   Distance_Driven  6019 non-null   object
 5   Fuel Type        6019 non-null   object
 6   Transmission     6019 non-null   object
 7   Owner Mileage    6019 non-null   object
 8   Engine           5983 non-null   object
 9   Power            5983 non-null   object
 10  Seats            5977 non-null   float64
 11  Trunk            6002 non-null   object
 12  New_Price        824 non-null    object
 13  Price            6019 non-null   float64
dtypes: float64(2), int64(2), object(10)
memory usage: 658.5+ KB

None

### Remo√ß√£o de colunas

In [ ]:
df = df.drop("Unnamed: 0", axis=1)
display(df)

,Name,Location,Year,Distance_Driven,Fuel Type,Transmission,Owner Mileage,Engine,Power,Seats,Trunk,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000km,CNG,Manual,First -- 26.6 km/kg,998 CC,58.16 bhp,5.0,No,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000km,Diesel,Manual,First -- 19.67 kmpl,1582 CC,126.2 bhp,5.0,Yes,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000km,Petrol,Manual,First -- 18.2 kmpl,1199 CC,88.7 bhp,5.0,No,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87m,Diesel,Manual,First -- 20.77 kmpl,1248 CC,88.76 bhp,7.0,No,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670km,Diesel,Automatic,Second -- 15.2 kmpl,1968 CC,140.8 bhp,5.0,Yes,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First -- 28.4 kmpl,1248 CC,74 bhp,5.0,Yes,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000km,Diesel,Manual,First -- 24.4 kmpl,1120 CC,71 bhp,5.0,No,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000km,Diesel,Manual,Second -- 14.0 kmpl,2498 CC,112 bhp,8.0,Yes,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46m,Petrol,Manual,First -- 18.9 kmpl,998 CC,67.1 bhp,5.0,No,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47m,Diesel,Manual,First -- 25.44 kmpl,936 CC,57.6 bhp,5.0,No,NaN,2.50

### Contar quantidade de valores nulos e trata-los

In [ ]:
df.isna().sum()

Name                  0
Location              0
Year                  0
Distance_Driven       0
Fuel Type             0
Transmission          0
Owner Mileage         0
Engine               36
Power                36
Seats                42
Trunk                17
New_Price          5195
Price                 0
dtype: int64

In [ ]:
df = df.drop("New_Price", axis=1)
display(df)

,Name,Location,Year,Distance_Driven,Fuel Type,Transmission,Owner Mileage,Engine,Power,Seats,Trunk,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000km,CNG,Manual,First -- 26.6 km/kg,998 CC,58.16 bhp,5.0,No,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000km,Diesel,Manual,First -- 19.67 kmpl,1582 CC,126.2 bhp,5.0,Yes,12.50
2,Honda Jazz V,Chennai,2011,46000km,Petrol,Manual,First -- 18.2 kmpl,1199 CC,88.7 bhp,5.0,No,4.50
3,Maruti Ertiga VDI,Chennai,2012,87m,Diesel,Manual,First -- 20.77 kmpl,1248 CC,88.76 bhp,7.0,No,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670km,Diesel,Automatic,Second -- 15.2 kmpl,1968 CC,140.8 bhp,5.0,Yes,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First -- 28.4 kmpl,1248 CC,74 bhp,5.0,Yes,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000km,Diesel,Manual,First -- 24.4 kmpl,1120 CC,71 bhp,5.0,No,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000km,Diesel,Manual,Second -- 14.0 kmpl,2498 CC,112 bhp,8.0,Yes,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46m,Petrol,Manual,First -- 18.9 kmpl,998 CC,67.1 bhp,5.0,No,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47m,Diesel,Manual,First -- 25.44 kmpl,936 CC,57.6 bhp,5.0,No,2.50

In [ ]:
df = df.dropna()

### Separa√ß√£o de dados

In [ ]:
df[['owner', 'mileage']] = df['Owner Mileage'].str.split('--', expand=True)

In [ ]:
df = df.drop("Owner Mileage", axis = 1)
df

,Name,Location,Year,Distance_Driven,Fuel Type,Transmission,Engine,Power,Seats,Trunk,Price,owner,mileage
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000km,CNG,Manual,998 CC,58.16 bhp,5.0,No,1.75,First,26.6 km/kg
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000km,Diesel,Manual,1582 CC,126.2 bhp,5.0,Yes,12.50,First,19.67 kmpl
2,Honda Jazz V,Chennai,2011,46000km,Petrol,Manual,1199 CC,88.7 bhp,5.0,No,4.50,First,18.2 kmpl
3,Maruti Ertiga VDI,Chennai,2012,87m,Diesel,Manual,1248 CC,88.76 bhp,7.0,No,6.00,First,20.77 kmpl
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670km,Diesel,Automatic,1968 CC,140.8 bhp,5.0,Yes,17.74,Second,15.2 kmpl
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,1248 CC,74 bhp,5.0,Yes,4.75,First,28.4 kmpl
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000km,Diesel,Manual,1120 CC,71 bhp,5.0,No,4.00,First,24.4 kmpl
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000km,Diesel,Manual,2498 CC,112 bhp,8.0,Yes,2.90,Second,14.0 kmpl
6017,Maruti Wagon R VXI,Kolkata,2013,46m,Petrol,Manual,998 CC,67.1 bhp,5.0,No,2.65,First,18.9 kmpl
6018,Chevrolet Beat Diesel,Hyderabad,2011,47m,Diesel,Manual,936 CC,57.6 bhp,5.0,No,2.50,First,25.44 kmpl

### Convers√£o de dados

In [ ]:
df['mileage'] = df['mileage'].str.replace(' kmpl', '').str.replace(' km/kg', '').str.strip()
df['mileage'] = pd.to_numeric(df['mileage'], errors='coerce')

In [ ]:
df

,Name,Location,Year,Distance_Driven,Fuel Type,Transmission,Engine,Power,Seats,Trunk,Price,owner,mileage
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000km,CNG,Manual,998 CC,58.16 bhp,5.0,No,1.75,First,26.60
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000km,Diesel,Manual,1582 CC,126.2 bhp,5.0,Yes,12.50,First,19.67
2,Honda Jazz V,Chennai,2011,46000km,Petrol,Manual,1199 CC,88.7 bhp,5.0,No,4.50,First,18.20
3,Maruti Ertiga VDI,Chennai,2012,87m,Diesel,Manual,1248 CC,88.76 bhp,7.0,No,6.00,First,20.77
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670km,Diesel,Automatic,1968 CC,140.8 bhp,5.0,Yes,17.74,Second,15.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,1248 CC,74 bhp,5.0,Yes,4.75,First,28.40
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000km,Diesel,Manual,1120 CC,71 bhp,5.0,No,4.00,First,24.40
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000km,Diesel,Manual,2498 CC,112 bhp,8.0,Yes,2.90,Second,14.00
6017,Maruti Wagon R VXI,Kolkata,2013,46m,Petrol,Manual,998 CC,67.1 bhp,5.0,No,2.65,First,18.90
6018,Chevrolet Beat Diesel,Hyderabad,2011,47m,Diesel,Manual,936 CC,57.6 bhp,5.0,No,2.50,First,25.44

In [ ]:
df['Engine'] = df['Engine'].str.replace(' CC', '')
df["Power"] = df['Power'].str.replace(" bhp", '')
df

,Name,Location,Year,Distance_Driven,Fuel Type,Transmission,Engine,Power,Seats,Trunk,Price,owner,mileage
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000km,CNG,Manual,998,58.16,5.0,No,1.75,First,26.60
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000km,Diesel,Manual,1582,126.2,5.0,Yes,12.50,First,19.67
2,Honda Jazz V,Chennai,2011,46000km,Petrol,Manual,1199,88.7,5.0,No,4.50,First,18.20
3,Maruti Ertiga VDI,Chennai,2012,87m,Diesel,Manual,1248,88.76,7.0,No,6.00,First,20.77
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670km,Diesel,Automatic,1968,140.8,5.0,Yes,17.74,Second,15.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,1248,74,5.0,Yes,4.75,First,28.40
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000km,Diesel,Manual,1120,71,5.0,No,4.00,First,24.40
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000km,Diesel,Manual,2498,112,8.0,Yes,2.90,Second,14.00
6017,Maruti Wagon R VXI,Kolkata,2013,46m,Petrol,Manual,998,67.1,5.0,No,2.65,First,18.90
6018,Chevrolet Beat Diesel,Hyderabad,2011,47m,Diesel,Manual,936,57.6,5.0,No,2.50,First,25.44

In [ ]:
df = df.rename(columns={"mileage": "mileage kmpl", "Engine": "Engine CC", "Power": "Power bhp", ""})

In [ ]:
df

,Name,Location,Year,Distance_Driven,Fuel Type,Transmission,Engine CC,Power bhp,Seats,Trunk,Price,owner,mileage kmpl
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000km,CNG,Manual,998,58.16,5.0,No,1.75,First,26.60
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000km,Diesel,Manual,1582,126.2,5.0,Yes,12.50,First,19.67
2,Honda Jazz V,Chennai,2011,46000km,Petrol,Manual,1199,88.7,5.0,No,4.50,First,18.20
3,Maruti Ertiga VDI,Chennai,2012,87m,Diesel,Manual,1248,88.76,7.0,No,6.00,First,20.77
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670km,Diesel,Automatic,1968,140.8,5.0,Yes,17.74,Second,15.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,1248,74,5.0,Yes,4.75,First,28.40
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000km,Diesel,Manual,1120,71,5.0,No,4.00,First,24.40
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000km,Diesel,Manual,2498,112,8.0,Yes,2.90,Second,14.00
6017,Maruti Wagon R VXI,Kolkata,2013,46m,Petrol,Manual,998,67.1,5.0,No,2.65,First,18.90
6018,Chevrolet Beat Diesel,Hyderabad,2011,47m,Diesel,Manual,936,57.6,5.0,No,2.50,First,25.44

In [ ]:
df_sorted = df.sort_values('Price', ascending=False)
df_sorted

,Name,Location,Year,Distance_Driven,Fuel Type,Transmission,Engine CC,Power bhp,Seats,Trunk,Price,owner,mileage kmpl
4079,Land Rover Range Rover 3.0 Diesel LWB Vogue,Hyderabad,2017,25000km,Diesel,Automatic,2993,255,5.0,Yes,160.00,First,13.33
1505,Land Rover Range Rover Sport SE,Kochi,2019,"26,013m",Diesel,Automatic,2993,255,5.0,Yes,97.07,First,12.65
1974,BMW 7 Series 740Li,Coimbatore,2018,28060km,Petrol,Automatic,2979,320,5.0,Yes,93.67,First,12.05
1984,BMW 7 Series 740Li,Bangalore,2017,17465,Petrol,Automatic,2979,320,5.0,No,93.00,First,12.05
5535,BMW X6 xDrive 40d M Sport,Ahmedabad,2015,"97,003m",Diesel,Automatic,2993,308.43,5.0,Yes,85.00,First,15.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2605,Tata Nano Cx,Jaipur,2010,57000km,Petrol,Manual,624,35,4.0,Yes,0.50,First,26.00
1628,Maruti 800 Std BSIII,Jaipur,2004,12000,Petrol,Manual,796,37,4.0,No,0.45,Second,16.10
2847,Hyundai Getz GLS,Pune,2005,86000km,Petrol,Manual,1341,83,5.0,Yes,0.45,Second,15.30
3138,Maruti Zen LXI,Jaipur,1998,95150,Petrol,Manual,993,60,5.0,Yes,0.45,Third,17.30
1713,Tata Nano Lx,Pune,2011,65000,Petrol,Manual,624,35,4.0,Yes,0.44,Second,26.00

<div class="double-hrule"></div>

## Recapitulando {.unnumbered}

<!--Adicionar texto de recapitulando. Em par√°grafos, primeiro sobre os principais objetivos de aprendizagem, depois sobre os conceitos te√≥ricos aprendidos, e por fim, dos conceitos "decoreba" aprendidos-->

## Extras

<!-- tem que ver o que vem pra ca. talvez mais exemplos? -->